
    #container {
    display: grid;
    width: 500px;
    height: 500px;
    }

    div {
    outline: 1px solid;
    }

    #outer {
      text-align: center;
      outline: 0px solid;
    }

    #inner {
      display: inline-block;
      outline: 0px solid;
    }
